<div class="row">
    <div class="col-md-12">
        <h2>Cadastrando cliente {{client.name}}</h2>
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome" ng-model="client.name" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="E-mail" ng-model="client.email" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Telefone" ng-model="client.phoneNumber" required ui-br-phone-number>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="CPF/CNPJ" ng-model="client.documentNumber" required ui-br-cpfcnpj-mask>
            </div>

            <button class="btn btn-lg btn-info" type="button" data-ng-click="saveClient(client)">Submit</button>

            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
    </div>